# Ambiente virtual
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local
instance/*.db
*.sqlite3

# Logs
*.log

# Build / distribuição
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

.git/